* {
    box-sizing: border-box;
}

@font-face {
    font-family: arcade;
    src: url(ARCADE_I.TTF);
}

#status {
    border: none;
    padding: 10px 10px;
    margin: 10px auto;
    font-family: monospace;
    font-size: 1.5rem;
    color: #ffffff;
    position: absolute;
    top: 5px;
    left: 16px;
}

#message {
    background-color: rgba(0, 0, 0, 0.301);
    border: none;
    padding: 150px;
    font-family: arcade;
    font-size: 9rem;
    text-align: center;
    color:  rgb(255, 255, 255);
    position: absolute;
    top: 50px;
    left: 315px;
    width: 800px;
}